{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/juggling-balls">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/check-your-answers" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="most-impressive-trick">
            <h1 class="govuk-heading-xl">What is your most impressive juggling trick?</h1>
          </label>

          <div class="govuk-inset-text">
            Include as much information as you need to prove you can do this trick
          </div>

          {{ govukTextarea({
            name: "most-impressive-trick",
            id: "more-detail",
            label: {
            },
            value: data['most-impressive-trick']
          }) }}

        </div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
